[submodule "include/xvk"]
	path = include/xvk
	url = https://github.com/Vulkan4D/xvk.git
[submodule "include/volk"]
	path = include/volk
	url = https://github.com/zeux/volk.git
[submodule "submodule/glm"]
	path = submodule/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodule/VulkanMemoryAllocator"]
	path = submodule/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "submodule/Vulkan-Headers"]
	path = submodule/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "xvk"]
	path = include/xvk
	url = https://github.com/Vulkan4D/xvk.git
[submodule "include/tinygltf"]
	path = include/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "include/tinyexr"]
	path = include/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "submodule/pcg-cpp"]
	path = submodule/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "include/args"]
	path = include/args
	url = https://github.com/Taywee/args.git
[submodule "include/soa_vector"]
	path = include/soa_vector
	url = https://github.com/Dwarfobserver/soa_vector.git
